# interactive packages
jupyterlab
# core pacakges
numpy
scipy
matplotlib
# statistical packages
pandas
statsmodels
seaborn
# symbolic computation
sympy
# image processing
scikit-image
# machine learning packages
scikit-learn

# additional packages
gsw
xarray
netcdf4
h5netcdf
tables
sparse
