# interactive packages
jupyterlab
matplotlib
# core pacakges
numpy
# statistical packages
pandas
# image processing
scikit-image
# machine learning packages
scikit-learn
scipy
seaborn
statsmodels
# symbolic computation
sympy
